<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>サンプルHTML{{ city }}</h1>
    <ul>
        <!-- <li>箇条書き1</li>
        <li>箇条書き2</li>
        <li>箇条書き3</li>
        <li>箇条書き4</li>
        <li>箇条書き5</li>
        <li>箇条書き6</li> -->
        {% for bullet in bullets %}
            {% if loop.index % 3 == 0 %}
                <li>{{ bullet }}</li>
            {% endif %}
        {% endfor %}
    </ul>
</body>
</html>